<!DOCTYPE html>
<html xmlns:v-on="http://www.w3.org/1999/xhtml">
<head>
    <title>Page Title</title>

    <script type="text/javascript" src="./../vue.js"></script>
    <link rel="stylesheet" type="text/css" href="./../Public/css/style.css">


</head>
<body>

<div id="exercise">
    <!-- 1) Hook up the button to toggle the display of the two paragraphs. Use both v-if and v-show and inspect the elements to see the difference -->
    <div>
        <button @click="show = !show">Toggle</button>
        <p v-if="show">You either see me ...</p>
        <p v-if="!show">...or me</p>
        <p v-show="show">You either see me ...</p>
        <p v-show="!show">...or me</p>
    </div>
    <!-- 2) Output an <ul> of array elements of your choice. Also print the index of each element. -->
    <ul>
        <li v-for="(fruit, i) in fruits">{{fruit}} ( {{i}} )</li>
    </ul>
    <!-- 3) Print all key-value pairs of the following object: {title: 'Lord of the Rings', author: 'J.R.R. Tolkiens', books: '3'}. Also print the index of each item. -->
    <ul>
        <li v-for="(value, keyName, i) in library">{{value}}<br/>{{keyName}}<br/>{{i}}</li>
    </ul>
    <!-- 4) Print the following object (only the values) and also create a nested loop for the array: {name: 'TESTOBJECT', data: [1.67, 1.33, 0.98, 2.21]} (hint: use v-for and v-if to achieve this) -->
    <ul>
        <li v-for="value in arrayX">
            <template v-if="Array.isArray(value)">
                <template v-for="val in value">
                    {{val}}
                </template>
            </template>
            <template v-else>
                {{value}}
            </template>
            <br/>
        </li>
    </ul>
</div>


<script>
    new Vue({
        el: '#exercise',
        data: {
            show: true,
            fruits: ['apple', 'pierce', 'banana'],
            library: {title: 'Lord of the Rings', author: 'J.R.R. Tolkiens', books: '3'},
            arrayX: {
                name: 'TESTOBJECT',
                data: [1.67, 1.33, 0.98, 2.21]
            }
        }
    });

</script>

</body>
</html>