<!DOCTYPE html>
<html>
<head>
    <title>Page Title</title>

    <script type="text/javascript" src="vue.js"></script>
    <link rel="stylesheet" type="text/css" href="./Public/css/style.css">


</head>
<body>

<div id="app">

    <div class="demo" :style="{'background-color': color}"></div>
    <div class="demo" :style="myStyle"></div>
    <div class="demo" :style="[myStyle, {height: width + 'px'}]"></div>
    <hr/>
    <input type="text" v-model="color">
    <input type="text" v-model="width">

</div>

<script>
    new Vue({
        el: '#app',
        data: {
            color: 'grey',
            width: 100
        },
        computed: {
            myStyle: function () {
                return {
                    backgroundColor: this.color,
                    width: this.width + 'px'
                }
            }
        }
    });

</script>

</body>
</html>